@import url('https://fonts.cdnfonts.com/css/satisfy');
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#container{
  width: 100%;
}

header{
  display: flex;
  justify-content: right;
  border-bottom: 0.5px solid rgb(148, 142, 142);
}

header h1{
  margin: auto;
  padding: 20px 0;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 20px 40px;
  border-left: 0.5px solid rgb(148, 142, 142);
}

button:hover{
  background-color: rgb(102, 97, 97);
  color: white;
}

.obit-container{
  width: 17%;
  height:fit-content;
  min-width: 250px;
  margin: 50px;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 2%;
  box-shadow: 0 2px #6a6a6a;
  padding-left: 30px;
}

.obit-container img{
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

#obit-container h2{
  font-size: 14pt;
  margin-top: 5px;
}

.obit-container h3{
  font-size: 10pt;
  font-weight: normal;
  margin: 2px 0 15px 0;
}

.obit-container p{
  font-size: 16pt;
  text-align: justify;
  margin: 10px 20px;
  font-family: 'Satisfy', sans-serif;
                                                
}

.play-pause-btn{
  width: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 0 20px 0;
}

#pop-container{
  background-color: rgba(229, 229, 229, 0.9);
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
}

#pop-container h1{
  margin-top: 100px;
}

#flower-img{
  width: 300px;
  margin-bottom: 20px;
}

#file-in{
  display: none;
}

#dates-in{
  display: flex;
  justify-content: center;
}

#dates-in p{
  margin: 30px 10px;
}

#name-in{
  width: 50%;
  height: 50px;
  font-size: 14pt;
  padding-left: 1%;
  margin-top: 20px;
}

label{
  text-decoration: underline;
}

#submit-btn{
  width: 50%;
  height: 50px;
  border: none;
  text-align: center;
  padding: 0;
  border-radius: 2%;
  background-color:rgb(88, 208, 168);
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

#esc-btn{
  position:absolute;
  right: 0;
}

#error-msg{
  color: red;
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 10px;
}

section{
  display: flex;
  flex-wrap: wrap;
}

#none{
  height: 100%;
  text-align: center;
  width: 100%;
  margin: 250px 12.5% 0 0;
}

h6{
  height: 100%;
  font-size: 16pt;
  color: lightgray;
}

#filename{
  background-color: rgba(169, 169, 169, 0.455);
  margin-left: 10px;
}

@media screen and (max-width: 1656px) {
  .obit-container {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .obit-container {
    width: 100%;
  }
}